# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Файлы редакторов
.vscode/
.idea/
*.sublime-*

# Логи
*.log

# Зависимости
node_modules/

# Скомпилированные/препроцессорные файлы
*.css.map
*.sass-cache/

# Временные файлы
*.tmp
*.temp

# Автогенерируемые файлы (если используете препроцессоры)
/dist/
/build/